---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

const tags: string[] = allBlogArticles.flatMap((article: any) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-teal-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-3">
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">About Us</h3>
        <p class="text-white text-sm">
          n00b:dev is for you. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Tags</h3>
        <ul class="text-white text-sm grid grid-cols-2">
          {uniqueTags.map(tag => (
            <li class="mb-2">
              <a href={'/articles/tag/' + tag}>#{capitalize(tag)}</a>  
            </li>
          ))}
        </ul>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Contact Us</h3>
        <ul class="text-white text-sm">
          <li class="mb-2">
            <a href="https://google.com">Email</a>
          </li>
          <li class="mb-2">
            <a href="https://x.com">Twitter</a>
          </li>
          <li class="mb-2">
            <a href="https://facebook.com">Facebook</a>
          </li>
          <li class="mb-2">
            <a href="https://instagram.com">Instagram</a>
          </li>
        </ul>
</footer>